* {
    box-sizing: border-box;
}

.result-nav {
    width: 100vw;
    display: flex;
    margin-top: 35px;
    margin-right: 27px;   
}

.result-flex {
    display: flex;

}

.result-margin {
    margin: 0;
}