@import url(//db.onlinewebfonts.com/c/440785c689da19fbbdb1346932c8c029?family=Monaco);
@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1152px;
    height: 700px;
  }