@import url(//db.onlinewebfonts.com/c/440785c689da19fbbdb1346932c8c029?family=Monaco);
@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,400&display=swap');

.github-search {
    width: 500px;
    height: 81px;
    font-family: Monaco;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .github-search .text-style-1 {
    font-family: Raleway;
    font-weight: 200;
    font-style: italic;
  }

  a:link {
    text-decoration: none;
  }