.user-name {
  width: 280px;
  height: 40px;
  font-family: Raleway;
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 10px 25px;
}

.user-login {
  width: 280px;
  height: 25px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5c5c5c;
  margin: 0px 25px 30px;
}