.repo-name {
    width: 650px;
    height: 40.8px;
    font-family: Raleway;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ac53f2;
    margin: 0;
    margin-bottom: 9px;
}

.repo-description {
    width: 650px;
    height: 25.5px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin: 0;
    margin-bottom: 70px;
}

.repo-margin-top {
    margin-top: 60px;
}